input{
    width:100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
textarea{
    width:100%;
    height: 150px;
    outline: none;
    background-color:  #dce7f7;
    border:none;
}
label{
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
body{
    display:grid;
    place-items: center;
        color: blue;
}
h3{
    background-color: #181880;
    color: white;
    text-align: center;
    width: 100%;
}
tr{
    line-height: 50px;
}
td{
    text-align: right;
}
.dropdown1{
    width:180px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-right: 1px;
}
.dropdown2{
    width:180px;
    border: none;
    border-bottom: 1px solid black;
    outline: none
}
#frm{
    width: 70%;
}
#btn{
    color:white;
    width:100px;
    height: auto;
    background-color: #181880;
}


